.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 0.9rem;
}

.event-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.form-group input {
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}