* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
}

p {
  margin: 0;
}

.btn {
  border: none;
  background: black;
  color: white;

  padding: 14px 30px;
  border-radius: 999px;

  font-size: 16px;
}

.btn:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
}